.cover__link {
  width: calc(100% - 96px);
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .cover__link {
    width: 100%;
    min-height: 640px;
  }

}

@media screen and (max-width: 1024px) {
  .cover__link {
    width: 100%;
    min-height: 480px;
  }

}

@media screen and (max-width: 768px) {
  .cover__link {
    width: 100%;
    min-height: 200px;
  }

}
