.place__text-block {
  width: calc(100% - 500px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1279px) {
  .place__text-block {
    width: calc(100% - 472px);
  }

}

@media screen and (max-width: 1023px) {
  .place__text-block {
    width: calc(100% - 368px);
  }

}

@media screen and (max-width: 767px) {
  .place__text-block {
    width: calc(100% - 32px);
  }

}
