.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 33px;
}

@media screen and (max-width: 768px) {
  .intro__list {
    margin-top: 34px;
  }

}
