.header {
  width: calc(100% - 96px);
  margin: 28px auto 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }

}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 32px);
  }

}
