.place__paragraph {
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:not(:first-of-type) {
  margin-top: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }

  .place__paragraph:not(:first-of-type) {
    margin-top: 25px;
  }

}

@media screen and (max-width: 767px) {
  .place__paragraph {
    width: calc(100% - 32px);
    margin: 0 auto 0 16px;
  }

  .place__paragraph:not(:first-of-type) {
    margin-top: 25px;
  }

}
