.intro__list-item {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .intro__list-item {
    font-size: 12px;
    line-height: 18px;
  }

}
