.cover {
  margin: 0 auto;
  margin-top: 92px;
  width: 1184px;
  min-height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 1024px;
    min-height: 640px;
  }

}

@media screen and (max-width: 768px) {
  .cover {
    width: 768px;
    min-height: 480px;
    margin-top: 90px;
  }

}

@media screen and (max-width: 320px) {
  .cover {
    width: 320px;
    min-height: 200px;
    margin-top: 66px;
  }

}
