.cover {
  margin: 0 auto;
  margin-top: 92px;
  width: calc(100% - 96px);
}

@media screen and (max-width: 1280px) {
  .cover {
    width: 100%;
  }

}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    margin-top: 90px;
  }

}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    margin-top: 66px;
  }

}
