.cover__overlay {
  width: 1184px;
  height: 740px;
  position: absolute;
  background-color: #2a2c2f;
  opacity: 0;
  z-index: 1;
  transition: opacity .6s;
}

.cover__overlay:hover {
  opacity: .3;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    width: 1024px;
    height: 640px;
  }

}

@media screen and (max-width: 768px) {
  .cover__overlay {
    width: 768px;
    height: 480px;
  }

}

@media screen and (max-width: 320px) {
  .cover__overlay {
    width: 320px;
    height: 200px;
  }

}
