.lead__caption {
  max-width: 158px;
  font-size: 10px;
  font-style: normal;
  line-height: 1.4;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
