.place {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.place:not(:last-of-type) {
  margin-bottom: 80px;
}

@media screen and (max-width: 1023px) {
  .place:not(:last-of-type) {
    margin-bottom: 73px;
  }

}

@media screen and (max-width: 767px) {
  .place:not(:last-of-type) {
    margin-bottom: 50px;
  }

}
