.place {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 48px;
}

@media screen and (max-width: 1280px) {
  .place {
    width: 100%;
  }

}

@media screen and (max-width: 1024px) {
  .place {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .place {
    width: 100%;
    gap: 32px;
  }

}
