.footer {
  width: calc(100% - 96px);
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 48px);
    margin-top: 88px;
  }

}

@media screen and (max-width: 768px) {
  .footer {
    width: 186px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;
    margin: 64px auto 24px 16px;
  }

}
