.place__website {
  width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  gap: 12px;
}

@media screen and (max-width: 1023px) {
  .place__website {
    width: 352px;
  }

}

@media screen and (max-width: 767px) {
  .place__website {
    width: calc(100% - 32px);
    margin: 0 auto;
    align-self: flex-start;
    margin-left: 16px;
  }

}
